<h1>Thank you for purchasing from RainyDae DIY</h1>
<h4>This is your order confirmation</h4>

<strong>Name:</strong>  <%= @checkout.name %> <br>
<strong>Email:</strong> <%= @checkout.email %><br>
<strong><%= @checkout.zip %></strong>
<br>
<hr>
<table class="table">
  <tr>
    <th>Item</th>
    <th>Quantity</th>
    <th>Unit Price</th>
  </tr>
    <tr>
      <td>
       <% @checkout.cart.items.each do |item| %>
    <tr>
      <td><%= item.product.name %></td>
      <td><%= item.quantity %></td>
      <td>$<%= (item.quantity * item.price) / 100 %></td>
    </tr>
  <% end %>
</table>

<strong>Order Total:</strong>


